<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZincSearch - Careers</title>

  <meta name="title" content="ZincSearch - A modern search engine">
  <meta name="description"
    content="ZincSearch is the simplest and easiest search system to get up and running. It's an open source easy-to-use search engine to solves your observability needs.">
  <meta name="keywords" content="ZincSearch, ZincLabs, Zinc, Search, Search Engine, Search System">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="5 days">
  <meta name="author" content="Prabhat Sharma, Hengfei Yang">

  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="../../assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="../../assets/favicons/safari-pinned-tab.png" color="#5ca380">
  <link rel="shortcut icon" href="../../assets/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="ZincSearch">
  <meta name="application-name" content="ZincSearch">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../../assets/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="../../assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="../../assets/css/base.css" type="text/css" />
  <link rel="stylesheet" href="../../assets/css/main.css" type="text/css" />
  <link rel="stylesheet" href="../../assets/css/careers.css" type="text/css" />
</head>

<body>
  <div class="root">
    <header>
      <div class="container">
        <div class="logo">
          <a rel="noreferrer noopener" href="../../">
            <img src="../../assets/images/common/logo.svg" alt="ZincSearch Logo" />
          </a>
        </div>
        <nav>
          <div class="desktop">
            <div class="github_actions">
              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-size="large"
                data-show-count="true" aria-label="Star zinclabs/zinc on GitHub"></a>

              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc/fork"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-repo-forked"
                data-size="large" data-show-count="true" aria-label="Fork zinclabs/zinc on GitHub"></a>
            </div>
            <ul>
              <li><a rel="noreferrer noopener" href="../../">Home</a></li>
              <li><a rel="noreferrer noopener" href="../about-us/">About Us</a></li>
              <li><a rel="noreferrer noopener" href="../use-cases/">Use Cases</a></li>
              <li><a rel="noreferrer noopener" href="../contact-us/">Contact Us</a></li>
              <li class="active"><a rel="noreferrer noopener" href="../careers/">Careers</a></li>
              <li><a rel="noreferrer noopener" href="https://docs.zincsearch.com/">Docs</a></li>
              <li class="getStarted">
                <a rel="noreferrer noopener" href="https://z9uzdkifovs.typeform.com/zinc-cloud" class="btn btn--primary btn--short">Join Cloud beta</a>
              </li>
            </ul>
          </div>
          <div class="tabAndbelow">
            <template id="githubButtonsTemplate">
              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-show-count="true"
                aria-label="Star zinclabs/zinc on GitHub"></a>

              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc/fork"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-repo-forked"
                data-show-count="true" aria-label="Fork zinclabs/zinc on GitHub"></a>
            </template>
            <div class="tabAndbelow__actions">
              <div id="githubButtonsContainer"></div>
              <div class="hamburger-menu">
                <span class="line line__one"></span>
                <span class="line line__two"></span>
                <span class="line line__three"></span>
              </div>
            </div>
            <div class="mobile-menu">
              <div class="container">
                <ul>
                  <li><a rel="noreferrer noopener" href="../../">Home</a></li>
                  <li><a rel="noreferrer noopener" href="../about-us/">About Us</a></li>
                  <li><a rel="noreferrer noopener" href="../use-cases/">Use Cases</a></li>
                  <li><a rel="noreferrer noopener" href="../contact-us/">Contact Us</a></li>
                  <li class="active"><a rel="noreferrer noopener" href="../careers/">Careers</a></li>
                  <li><a rel="noreferrer noopener" href="https://docs.zincsearch.com/">Docs</a></li>
                  <li class="getStarted">
                    <a rel="noreferrer noopener" href="https://z9uzdkifovs.typeform.com/zinc-cloud"
											class="btn btn--primary btn--short">Join Cloud beta</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main id="careers">
      <!-- Header -->
      <div class="header-wrapper">
        <div class="container">
          <div class="header-container">
            <h3>Careers</h3>
          </div>
        </div>
      </div>

      <!-- Careers -->
      <div class="careers-section mt-100 mb-100">
        <div class="container flex-direction-column">
          <div class="row w-100 align-item-center justify-content-between">
            <div class="text-contain col-6" scrolls scrolls-duration="1500">
              <h1>Company Overview</h1>
              <p>
                ZincSearch is the company behind open source ZincSearch engine. ZincSearch is one of the fastest-growing
                projects on
                Github that provides a modern alternative to elasticsearch. ZincSearch is funded by leading VCs and
                angel investors to
                build the best search engine out there.
              </p>
            </div>
            <div class="col-6" scrolls scrolls-duration="2000">
              <img src="../../assets/images/careers/company_image.png" alt="Company" title="Company" class="fluid-img">
            </div>
          </div>
        </div>
      </div>

      <section class="careers" id="careers">
        <div class="container">
          <div class="head">
            <h2>Why Work with us?</h2>
            <p>
              ZincSearch is the
              <a rel="noreferrer noopener" href="https://runacap.com/ross-index/q1-2022/" class="noBorderHover"
                target="_blank">fastest-growing</a>
              open source search engine. It is backed by leading VCs and angel investors. You will be part of the team
              that is reinventing search space.
            </p>
          </div>

          <div class="content">
            <div class="card card--career">
              <div class="card__icon">
                <img src="../../assets/images/careers/ca_icon_1.svg" alt="Fully Remote" />
              </div>
              <div class="card__head">Fully Remote</div>
              <div class="card__content">
                <p>Flexibility to allow employees to take personal time with work.</p>
              </div>
            </div>

            <div class="card card--career">
              <div class="card__icon">
                <img src="../../assets/images/careers/ca_icon_2.svg" alt="Stock Options" />
              </div>
              <div class="card__head">Stock Options</div>
              <div class="card__content">
                <p>
                  We share our company success by rewarding employees with our stocks.
                </p>
              </div>
            </div>

            <div class="card card--career">
              <div class="card__icon">
                <img src="../../assets/images/careers/ca_icon_3.svg" alt="Future Of Search" />
              </div>
              <div class="card__head">Future Of Search</div>
              <div class="card__content">
                <p>
                  We drive you through the exciting journey and opportunities to shape the future of search.
                </p>
              </div>
            </div>

            <div class="card card--career">
              <div class="card__icon">
                <img src="../../assets/images/careers/ca_icon_4.svg" alt="Work on the latest tech stack" />
              </div>
              <div class="card__head">Latest Tech Stack</div>
              <div class="card__content">
                <p>
                  We provide you the flexibility to work on various latest tech stack used widely across the industry.
                </p>
              </div>
            </div>

            <div class="card card--career">
              <div class="card__icon">
                <img src="../../assets/images/careers/ca_icon_5.svg" alt="Fast growing company" />
              </div>
              <div class="card__head">Fast Growing Company</div>
              <div class="card__content">
                <p>
                  You will get diversed learning options to grow yourself along with the Company.
                </p>
              </div>
            </div>

            <div class="card card--career">
              <div class="card__icon">
                <img src="../../assets/images/careers/ca_icon_6.svg" alt="Flexible Timings" />
              </div>
              <div class="card__head">Flexible Timings</div>
              <div class="card__content">
                <p>Employees have privilege to manage their timings and get the work done.</p>
              </div>
            </div>
          </div>
      </section>

      <section class="hirings" id="hirings">
        <div class="container">
          <div class="head">
            <h2>We're Hiring</h2>
            <!-- <p>
              Looking forward for your CV's into our inbox
            </p> -->
          </div>

          <div id='freshteam-widget'></div> 
<script src='https://s3.amazonaws.com/files.freshteam.com/production/136561/attachments/6003374919/original/6000065254_widget.js?1653092952'></script>


          <!-- <div class="content hirings__container" id="collapsible_parent_container">
            <div class="hiring hiring__one collapsible collapsible--collapsed">
              <h3 class="hiring__head">
                <div class="hiring__head__label">Senior Software Engineer - Golang and Distributed Systems</div>
                <button class="hiring__head__action collapsible__head__action"></button>
              </h3>
              <div class="hiring__body">
                <h4>Position Overview</h4>
                <p>
                  You will help build the best private search engine in the world.
                  You will collaborate with rest of the team members and
                  the community to build the core search engine,
                  APIs and it's distributed core. You will be working on technologies like
                  AWS, GCP and Kubernetes to build the entire pipeline for delivering ZincSearch functionality.
                </p>

                <h4>Responsibilities</h4>
                <ul>
                  <li>Design the modules of ZincSearch and any associated software</li>
                  <li>Write code to convert design into working software.</li>
                  <li>Fix bugs.</li>
                  <li>Write unit tests and other tests required for functioning of the software.</li>
                  <li>Coordinate with other team members to ensure ongoing development.</li>
                  <li>Work with users and community of ZincSearch.</li>
                </ul>

                <h4>What skills/experience you should have</h4>
                <ul>
                  <li>Strong knowledge of Go programming language, paradigms, constructs, and idioms</li>
                  <li>Experience building Go applications</li>
                  <li>Strong understanding of how to build distributed systems. Raft, memberships, ...</li>
                  <li>Knowledge of distributed KV stores like etcd.</li>
                  <li>Experience building REST APIs in Go.</li>
                  <li>Knowledge of common goroutine and channel patterns</li>
                  <li>Familiarity with code versioning tools such as Git</li>
                </ul>

                <h4>Good to have</h4>
                <ul>
                  <li>Experience contributing to open source projects.</li>
                  <li>Knowledge of docker, containers and Kubernetes</li>
                  <li>Experience of working in cloud (AWS, GCP)</li>
                </ul>

                <h4>Other details</h4>
                <p>Fully remote (Anywhere in the world except CRIMEA - REGION OF UKRAINE, CUBA, SUDAN, IRAN, NORTH
                  KOREA, and SYRIA)</p>

                <h4>How to apply</h4>
                <p>Send an email with your resume to <a rel="noreferrer noopener" href="mailto:hello@zinclabs.io"
                    class="textBold">hello@zinclabs.io</a></p>
              </div>
            </div>

            <div class="hiring hiring__two collapsible collapsible--collapsed">
              <h3 class="hiring__head">
                <div class="hiring__head__label">Senior Software Engineer - Frontend VueJS</div>
                <button class="hiring__head__action collapsible__head__action"></button>
              </h3>
              <div class="hiring__body">
                <h4>Position Overview</h4>
                <p>
                  We are looking for a VueJS developer who will be responsible for developing the front end of
                  ZincSearch using
                  javascript/typescript. S/he will need to collaborate with the users, community and development team to
                  build high
                  fidelity search and analytics interface. The candidate must be able to build testable, reusable, and
                  scalable
                  applications.
                </p>

                <h4>Responsibilities</h4>
                <ul>
                  <li>Design and develop innovative search interface for ZincSearch</li>
                  <li>Write reusable, effective, and scalable JavaScript/TypeScript code</li>
                  <li>Build modular and reusable components and libraries</li>
                  <li>Implement front-end components with progressive Vue.js framework</li>
                  <li>Test, update and optimize the application for performance and security</li>
                </ul>

                <h4>What skills/experience you should have</h4>
                <ul>
                  <li>Bachelor's/Master's degree in computer science, information technology, engineering, or anything
                    specific degree that you prefer</li>
                  <li>At least 3-5+ years of experience in JavaScript, Vue.js and object-orientated programming</li>
                  <li>Proficiency in JavaScript and TypeScript language, including its syntax and features</li>
                  <li>Strong understanding of the Vue.js framework and its core principles</li>
                  <li>Familiarity with the Vue.js ecosystem</li>
                  <li>Working experience with HTML5 and CSS3</li>
                  <li>Ability to write efficient, secure, clean, and scalable JavaScript code</li>
                  <li>Familiarity with automated JavaScript testing</li>
                  <li>Knowledge of modern development tools, like Git</li>
                  <li>Strong collaboration and communication skills</li>
                  <li>Experience in consuming and designing RESTful APIs</li>
                </ul>

                <h4>Good to have</h4>
                <ul>
                  <li>Experience contributing to open source projects.</li>
                  <li>Knowledge of docker, containers and Kubernetes</li>
                  <li>Experience of working in cloud (AWS, GCP)</li>
                </ul>

                <h4>Other details</h4>
                <p>Fully remote (Anywhere in the world except CRIMEA - REGION OF UKRAINE, CUBA, SUDAN, IRAN, NORTH
                  KOREA, and SYRIA)</p>

                <h4>How to apply</h4>
                <p>Send an email with your resume to <a rel="noreferrer noopener" href="mailto:hello@zinclabs.io"
                    class="textBold">hello@zinclabs.io</a>
                </p>
              </div>
            </div>
          </div> -->
        </div>
      </section>

      <section class="subscribe">
        <div class="container">
          <!-- <div class="head">
            <h2>Talk to Us !!</h2>
          </div>
          <a rel="noreferrer noopener"href="../../views/contact-us/" class="btn btn--tall btn--primary">Get In Touch</a>
        </div> -->
          <div class="head">
            <h2>Subscribe to our Newsletters</h2>
            <p>
              Get Latest Update &amp; News
            </p>
          </div>
          <form action="/" method="post" id="subscription-form">
            <input type="email" name="email" id="email" placeholder="Enter your email ID" autocomplete="off"
              onkeyup="handleInputUpdate(event)" />
            <button type="submit" class="btn btn--tall btn--primary">
              <i class="fa fa-circle-o-notch fa-spin"></i>
              <span>Submit</span>
            </button>
          </form>
      </section>
    </main>

    <footer>
      <section class="topFooter">
        <div class="container">
          <div class="column">
            <div class="head">
              <div class="logo">
                <a rel="noreferrer noopener" href="../../">
                  <img src="../../assets/images/common/logo.svg" alt="ZincSearch Logo" />
                </a>
              </div>
            </div>
            <div class="content">
              <p>315 Montgomery St, 10th Floor,</p>
              <p class="noMargin">San Francisco,</p>
              <p class="noMargin">California, 94104,</p>
              <p class="noMargin">United States of America</p>
              <p>
                <a rel="noreferrer noopener" class="bottomBorderHover" href="tel:+14154296096">+1 (415) 429-6096</a>
              </p>
              <p class="noMargin">
                <a rel="noreferrer noopener" class="bottomBorderHover"
                  href="mailto:hello+zincsearch@zinclabs.io">hello+zincsearch@zinclabs.io</a>
              </p>
            </div>
          </div>
          <div class="column">
            <div class="head">
              <h4>Quick Links</h4>
            </div>
            <div class="content">
              <ul>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../../">Home</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../about-us/">About Us</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../use-cases/">Use Cases</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../contact-us/">Contact Us</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../careers/">Careers</a></li>
              </ul>
            </div>
          </div>
          <div class="column">
            <div class="head">
              <h4>Docs</h4>
            </div>
            <div class="content">
              <ul>
                <li><a rel="noreferrer noopener" class="bottomBorderHover"
                    href="https://docs.zincsearch.com/getting-started/">Get Started</a>
                </li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover"
                    href="https://docs.zincsearch.com/api/">Server API</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="bottomFooter noPadding">
        <div class="container">
          <div class="column">
            <ul class="socialMedia">
              <li>
                <a rel="noreferrer noopener" href="https://github.com/zinclabs/zinc" title="GitHub" target="_blank">
                  <img src="../../assets/images/common/github_icon.svg" alt="GitHub" />
                </a>
              </li>
              <li>
                <a rel="noreferrer noopener" href="https://www.linkedin.com/company/zinc-labs" title="LinkedIn"
                  target="_blank">
                  <img src="../../assets/images/common/linkedin_icon.svg" alt="LinkedIn" />
                </a>
              </li>
            </ul>
          </div>
          <div class="column">
            <p>&copy; Copyright by Zinc Labs Inc. All rights reserved.</p>
          </div>
        </div>
      </section>
    </footer>
  </div>

  <!-- script -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="../../assets/js/mainFunctions.js"></script>
  <script src="../../assets/js/subscription-script.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QP72SPHZNE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js',new Date());

    gtag('config','G-QP72SPHZNE');
  </script>
</body>

</html>