<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZincSearch - Contact Us</title>

  <meta name="title" content="ZincSearch - A modern search engine">
  <meta name="description"
    content="ZincSearch is the simplest and easiest search system to get up and running. It's an open source easy-to-use search engine to solves your observability needs.">
  <meta name="keywords" content="ZincSearch, ZincLabs, Zinc, Search, Search Engine, Search System">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="5 days">
  <meta name="author" content="Prabhat Sharma, Hengfei Yang">

  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="../../assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="../../assets/favicons/safari-pinned-tab.png" color="#5ca380">
  <link rel="shortcut icon" href="../../assets/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="ZincSearch">
  <meta name="application-name" content="ZincSearch">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../../assets/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="../../assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="../../assets/css/base.css" type="text/css" />
  <link rel="stylesheet" href="../../assets/css/main.css" type="text/css" />
  <link rel="stylesheet" href="../../assets/css/contact-us.css" type="text/css" />
</head>

<body>
  <div class="root">
    <header>
      <div class="container">
        <div class="logo">
          <a rel="noreferrer noopener" href="../../">
            <img src="../../assets/images/common/logo.svg" alt="ZincSearch Logo" />
          </a>
        </div>
        <nav>
          <div class="desktop">
            <div class="github_actions">
              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-size="large"
                data-show-count="true" aria-label="Star zinclabs/zinc on GitHub"></a>

              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc/fork"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-repo-forked"
                data-size="large" data-show-count="true" aria-label="Fork zinclabs/zinc on GitHub"></a>
            </div>
            <ul>
              <li><a rel="noreferrer noopener" href="../../">Home</a></li>
              <li><a rel="noreferrer noopener" href="../about-us/">About Us</a></li>
              <li><a rel="noreferrer noopener" href="../use-cases/">Use Cases</a></li>
              <li class="active"><a rel="noreferrer noopener" href="./">Contact Us</a></li>
              <li><a rel="noreferrer noopener" href="../careers/">Careers</a></li>
              <li><a rel="noreferrer noopener" href="https://docs.zincsearch.com/">Docs</a></li>
              <li class="getStarted">
                <a rel="noreferrer noopener" href="https://z9uzdkifovs.typeform.com/zinc-cloud" class="btn btn--primary btn--short">Join Cloud beta</a>
              </li>
            </ul>
          </div>
          <div class="tabAndbelow">
            <template id="githubButtonsTemplate">
              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-show-count="true"
                aria-label="Star zinclabs/zinc on GitHub"></a>

              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc/fork"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-repo-forked"
                data-show-count="true" aria-label="Fork zinclabs/zinc on GitHub"></a>
            </template>
            <div class="tabAndbelow__actions">
              <div id="githubButtonsContainer"></div>
              <div class="hamburger-menu">
                <span class="line line__one"></span>
                <span class="line line__two"></span>
                <span class="line line__three"></span>
              </div>
            </div>
            <div class="mobile-menu">
              <div class="container">
                <ul>
                  <li><a rel="noreferrer noopener" href="../../">Home</a></li>
                  <li><a rel="noreferrer noopener" href="../about-us/">About Us</a></li>
                  <li><a rel="noreferrer noopener" href="../use-cases/">Use Cases</a></li>
                  <li class="active"><a rel="noreferrer noopener" href="./">Contact Us</a></li>
                  <li><a rel="noreferrer noopener" href="../careers/">Careers</a></li>
                  <li><a rel="noreferrer noopener" href="https://docs.zincsearch.com/">Docs</a></li>
                  <li class="getStarted">
                    <a rel="noreferrer noopener" href="https://z9uzdkifovs.typeform.com/zinc-cloud"
											class="btn btn--primary btn--short">Join Cloud beta</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main id="contact-us">
      <!-- Header -->
      <div class="header-wrapper">
        <div class="container">
          <div class="header-container">
            <h3>Contact Us</h3>
          </div>
        </div>
      </div>

      <!-- Contact us -->
      <div class="contact-us-section mt-100 mb-100">
        <div class="container flex-direction-column">
          <div class="row w-100 justify-content-between">
            <div class="text-contain col-6">
              <h1>Let us know how we can help you in your needs of a search system ?</h1>
              <label class="label">
                <p>
                  We can help you architect your system to provide observability at scale with no associated drama and
                  costs.
                </p>

                <p>Fill out the form below and we will reach out shortly.</p>

                <p>You could also send us an email at <a rel="noreferrer noopener"
                    href="mailto:hello@zinclabs.io">hello@zinclabs.io</a></p>
              </label>

              <form id="contact-us-form" method="post" class="form">
                <div class="form-field">
                  <input type="text" name="name" id="name" autocomplete="off" placeholder="Enter your name"
                    onkeyup="handleInputUpdate(event)" />
                  <small class="error name">Name is required</small>
                </div>

                <div class="form-field">
                  <input type="email" name="email" id="email" autocomplete="off" placeholder="Enter your email"
                    onkeyup="handleInputUpdate(event)" />
                  <small class="error email">Email is required</small>
                </div>

                <div class="form-field">
                  <input type="text" name="website" id="website" autocomplete="off" placeholder="Enter your Website" />
                  <small class="error website">Website is required</small>
                </div>
                <div class="form-field">
                  <input type="tel" name="mobile" id="mobile" maxlength="10" autocomplete="off"
                    placeholder="Enter your mobile number" />
                  <small class="error mobile">Mobile Number is required</small>
                </div>
                <div class="form-field noMargin">
                  <textarea name="message" id="message" onkeyup="handleInputUpdate(event)"
                    placeholder="Enter your Message"></textarea>
                  <small class="error message">Message is required</small>
                </div>

                <div id="form-submit-message"></div>

                <div class="form-field">
                  <button type="submit" class="btn btn--tall btn--secondary">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                    <span>Send Now</span>
                  </button>
                </div>
              </form>
            </div>
            <div class="col-6 contact-detail">
              <figure>
                <img src="../../assets/images/contact-us/contact_graphic.png" alt="ZincSearch" title="ZincSearch"
                  class="fluid-img">
              </figure>
              <div class="address">
                <span class="icon">
                  <img src="../../assets/images/contact-us/location_icon.svg" title="ZincSearch" class="fluid-img">
                </span>
                <span class="office-addres">
                  315 Montgomery St, 10th Floor, <br> San Francisco, California, 94104,<br> United States
                  of America
                </span>
              </div>
              <div class="address">
                <span class="icon">
                  <img src="../../assets/images/contact-us/call_icon.svg" alt="ZincSearch" title="ZincSearch"
                    class="fluid-img">
                </span>
                <span class="office-addres">
                  <a rel="noreferrer noopener" href="tel:+14154296096" class="bottomBorderHover">+1 (415) 429-6096</a>
                </span>
              </div>
              <div class="address" style="padding-top: 0;transform: translateY(-20px);">
                <span class="icon">
                  <img src="../../assets/images/contact-us/email_icon.svg" alt="ZincSearch" title="ZincSearch"
                    class="fluid-img">
                </span>
                <span class="office-addres">
                  <a rel="noreferrer noopener" href="mailto:hello+zincsearch@zinclabs.io"
                    class="bottomBorderHover">hello+zincsearch@zinclabs.io</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <section class="topFooter">
        <div class="container">
          <div class="column">
            <div class="head">
              <div class="logo">
                <a rel="noreferrer noopener" href="../../">
                  <img src="../../assets/images/common/logo.svg" alt="ZincSearch Logo" />
                </a>
              </div>
            </div>
            <div class="content">
              <p>315 Montgomery St, 10th Floor,</p>
              <p class="noMargin">San Francisco,</p>
              <p class="noMargin">California, 94104,</p>
              <p class="noMargin">United States of America</p>
              <p>
                <a rel="noreferrer noopener" class="bottomBorderHover" href="tel:+14154296096">+1 (415) 429-6096</a>
              </p>
              <p class="noMargin">
                <a rel="noreferrer noopener" class="bottomBorderHover"
                  href="mailto:hello+zincsearch@zinclabs.io">hello+zincsearch@zinclabs.io</a>
              </p>
            </div>
          </div>
          <div class="column">
            <div class="head">
              <h4>Quick Links</h4>
            </div>
            <div class="content">
              <ul>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../../">Home</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../about-us/">About Us</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../use-cases/">Use Cases</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../contact-us/">Contact Us</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../careers/">Careers</a></li>
              </ul>
            </div>
          </div>
          <div class="column">
            <div class="head">
              <h4>Docs</h4>
            </div>
            <div class="content">
              <ul>
                <li><a rel="noreferrer noopener" class="bottomBorderHover"
                    href="https://docs.zincsearch.com/getting-started/">Get Started</a>
                </li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover"
                    href="https://docs.zincsearch.com/api/">Server API</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="bottomFooter noPadding">
        <div class="container">
          <div class="column">
            <ul class="socialMedia">
              <li>
                <a rel="noreferrer noopener" href="https://github.com/zinclabs/zinc" title="GitHub" target="_blank">
                  <img src="../../assets/images/common/github_icon.svg" alt="GitHub" />
                </a>
              </li>
              <li>
                <a rel="noreferrer noopener" href="https://www.linkedin.com/company/zinc-labs" title="LinkedIn"
                  target="_blank">
                  <img src="../../assets/images/common/linkedin_icon.svg" alt="LinkedIn" />
                </a>
              </li>
            </ul>
          </div>
          <div class="column">
            <p>&copy; Copyright by Zinc Labs Inc. All rights reserved.</p>
          </div>
        </div>
      </section>
    </footer>
  </div>

  <!-- script -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="../../assets/js/mainFunctions.js"></script>
  <script src="../../assets/js/contact-us-script.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QP72SPHZNE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js',new Date());

    gtag('config','G-QP72SPHZNE');
  </script>
</body>

</html>