<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZincSearch - About Us</title>

  <meta name="title" content="ZincSearch - A modern search engine">
  <meta name="description"
    content="ZincSearch is the simplest and easiest search system to get up and running. It's an open source easy-to-use search engine to solves your observability needs.">
  <meta name="keywords" content="ZincSearch, ZincLabs, Zinc, Search, Search Engine, Search System">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="5 days">
  <meta name="author" content="Prabhat Sharma, Hengfei Yang">

  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="../../assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="../../assets/favicons/safari-pinned-tab.svg" color="#5ca380">
  <link rel="shortcut icon" href="../../assets/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="ZincSearch">
  <meta name="application-name" content="ZincSearch">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../../assets/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="../../assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="../../assets/css/base.css" type="text/css" />
  <link rel="stylesheet" href="../../assets/css/main.css" type="text/css" />
  <link rel="stylesheet" href="../../assets/css/about-us.css" />
</head>

<body>
  <div class="root">
    <header>
      <div class="container">
        <div class="logo">
          <a rel="noreferrer noopener" href="../../">
            <img src="../../assets/images/common/logo.svg" alt="ZincSearch Logo" />
          </a>
        </div>
        <nav>
          <div class="desktop">
            <div class="github_actions">
              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-size="large"
                data-show-count="true" aria-label="Star zinclabs/zinc on GitHub"></a>

              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc/fork"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-repo-forked"
                data-size="large" data-show-count="true" aria-label="Fork zinclabs/zinc on GitHub"></a>
            </div>
            <ul>
              <li><a rel="noreferrer noopener" href="../../">Home</a></li>
              <li class="active"><a rel="noreferrer noopener" href="./">About Us</a></li>
              <li><a rel="noreferrer noopener" href="../use-cases/">Use Cases</a></li>
              <li><a rel="noreferrer noopener" href="../contact-us/">Contact Us</a></li>
              <li><a rel="noreferrer noopener" href="../careers/">Careers</a></li>
              <li><a rel="noreferrer noopener" href="https://docs.zincsearch.com/">Docs</a></li>
              <li class="getStarted">
                <a rel="noreferrer noopener" href="https://z9uzdkifovs.typeform.com/zinc-cloud" class="btn btn--primary btn--short">Join Cloud beta</a>
              </li>
            </ul>
          </div>
          <div class="tabAndbelow">
            <template id="githubButtonsTemplate">
              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-show-count="true"
                aria-label="Star zinclabs/zinc on GitHub"></a>

              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc/fork"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-repo-forked"
                data-show-count="true" aria-label="Fork zinclabs/zinc on GitHub"></a>
            </template>
            <div class="tabAndbelow__actions">
              <div id="githubButtonsContainer"></div>
              <div class="hamburger-menu">
                <span class="line line__one"></span>
                <span class="line line__two"></span>
                <span class="line line__three"></span>
              </div>
            </div>
            <div class="mobile-menu">
              <div class="container">
                <ul>
                  <li><a rel="noreferrer noopener" href="../../">Home</a></li>
                  <li class="active"><a rel="noreferrer noopener" href="./">About Us</a></li>
                  <li><a rel="noreferrer noopener" href="../use-cases/">Use Cases</a></li>
                  <li><a rel="noreferrer noopener" href="../contact-us/">Contact Us</a></li>
                  <li><a rel="noreferrer noopener" href="../careers/">Careers</a></li>
                  <li><a rel="noreferrer noopener" href="https://docs.zincsearch.com/">Docs</a></li>
                  <li class="getStarted">
                    <a rel="noreferrer noopener" href="https://z9uzdkifovs.typeform.com/zinc-cloud"
											class="btn btn--primary btn--short">Join Cloud beta</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main id="about-us">
      <!-- Header -->
      <div class="header-wrapper">
        <div class="container">
          <div class="header-container">
            <h3>About Us</h3>
          </div>
        </div>
      </div>

      <!-- About us -->
      <div class="about-us-section mt-100 mb-100">
        <div class="container">
          <div class="row w-100 align-item-center justify-content-between">
            <div class="text-contain col-6" scrolls scrolls-duration="1500">
              <h1>ZincSearch</h1>
              <p>At ZincSearch, we bring <b>Cloud, Kubernetes, DevOps</b> and <b>Engineering expertise</b> to
                provide a solution to the problem of observability at low cost. ZincSearch is the simplest
                and easiest search system to get up and running. <b>Founded in 2022, ZincSearch came up with an open
                  source easy-to-use search engine that solves your observability needs the best.</b></p>
            </div>
            <div class="col-6" scrolls scrolls-duration="2000">
              <img src="../../assets/images/about-us/about_zincsearch_1.png" alt="ZincSearch" title="ZincSearch"
                class="fluid-img">
            </div>
          </div>
        </div>
      </div>

      <!-- Why use zinc -->
      <div class="why-use-zinc pt-100">
        <div class="container flex-direction-column">
          <h2 class="align-item-center">Why use ZincSearch?</h2>
          <div class="row flex-direction-row justify-content-between">
            <div class="col-6 box" scrolls scrolls-duration="1500">
              <figure>
                <img style="max-height:35px" src="../../assets/images/about-us/why_zinc_1.svg"
                  alt="Lower Resource Requirements (CPU, Memory)" title="Lower Resource Requirements (CPU, Memory)">
                <figcaption>Lower Resource Requirements (CPU, Memory).</figcaption>
              </figure>
              <ul class="points">
                <li>Lower cost of infrastructure</li>
                <li>Every developer can run it on their laptop without consuming too much resources.</li>
              </ul>
            </div>
            <div class="col-6 box" scrolls scrolls-duration="2000">
              <figure>
                <img style="max-height:35px" src="../../assets/images/about-us/why_zinc_2.svg"
                  alt="Lower Resource Requirements (CPU, Memory)" title="Lower Resource Requirements (CPU, Memory)">
                <figcaption>Easy To Operate</figcaption>
              </figure>
              <ul class="points">
                <li>Lower cost of manpower.</li>
                <li>Faster time to market.</li>
              </ul>
            </div>
          </div>
          <div class="row flex-direction-row justify-content-between">
            <div class="col-6 box" scrolls scrolls-duration="1500">
              <figure>
                <img style="max-height:35px" src="../../assets/images/about-us/why_zinc_3.svg"
                  alt="Lower Resource Requirements (CPU, Memory)" title="Lower Resource Requirements (CPU, Memory)">
                <figcaption>Stateless Server (Experimental Phase)</figcaption>
              </figure>
              <ul class="points">
                <li>ZincSearch strives to provide stateless servers that can be scaled horizontally.</li>
                <li>Storing data on S3 and MinIO allowing you to bring servers up and down based on load.</li>
              </ul>
            </div>
            <div class="col-6 box" scrolls scrolls-duration="2000">
              <figure>
                <img style="max-height:35px" src="../../assets/images/about-us/why_zinc_4.svg"
                  alt="Lower Resource Requirements (CPU, Memory)" title="Lower Resource Requirements (CPU, Memory)">
                <figcaption>Edge Search</figcaption>
              </figure>
              <ul class="points">
                <li>Generally to search logs/data generated at edge you need to send them to a centralized
                  logging system due to high resource requirements of the search server.</li>
                <li>ZincSearch allows you to search at edge with its small footprint.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Testimonial Section -->
      <div class="testimonial-wrapper">
        <div class="container">
          <div class="quote-section mt-100 mb-100">
            <h2 class="align-item-center">The Team</h2>
            <div class="row w-100 align-item-center justify-content-between">
              <div class="text-contain col-6" scrolls scrolls-duration="1500">
                <h1>
                  <span>Prabhat Sharma</span>
                  <a rel="noreferrer noopener" href="https://www.linkedin.com/in/hiprabhat/" target="_blank">
                    <img src="../../assets/images/about-us/linkedin_icon.svg" alt="LinkedIn - Prabhat Sharma"
                      title="LinkedIn - Prabhat Sharma" class="fluid-img">
                  </a>
                </h1>
                <label>Founder & CEO</label>
                <p>ZincSearch was founded by Prabhat Sharma based on his learnings from years
                  of his work at AWS working with hundreds of startups, ISVs and very large
                  customers who faced the challenge of searching logs and other application data.</p>
              </div>
              <div class="col-6 testimonial-user-img" scrolls scrolls-duration="2000">
                <img src="../../assets/images/about-us/founder_1.png" alt="ZincSearch" title="ZincSearch"
                  class="fluid-img">

                <span class="testimonail-name" scrolls scrolls-anim="fade-right" scrolls-delay="500">
                  Prabhat Sharma
                </span>
                <span class="firm-name" scrolls scrolls-anim="fade-right" scrolls-delay="500">
                  ZincSearch
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="testimonial-wrapper left-shape">
        <div class="container">
          <div class="quote-section mt-100 mb-100">
            <div class="row w-100 align-item-center justify-content-between">
              <div class="text-contain col-6 right" scrolls scrolls-duration="2000">
                <h1>
                  <span>Hengfei Yang</span>
                  <a rel="noreferrer noopener" href="https://www.linkedin.com/in/hengfeiyang/" target="_blank">
                    <img src="../../assets/images/about-us/linkedin_icon.svg" alt="LinkedIn - Hengfei Yang"
                      title="LinkedIn - Hengfei Yang" class="fluid-img">
                  </a>
                </h1>
                <label>Founding Engineer</label>
                <p>Hengfei Yang is a full stack engineer with rich experience in distributed system development.
                  He is passionate about open source. He has built and led many technical teams in the past 10 years.
                </p>
              </div>
              <div class="col-6 left testimonial-user-img" scrolls scrolls-duration="2000">
                <img src="../../assets/images/about-us/founder_2.png" alt="ZincSearch" title="ZincSearch"
                  class="fluid-img">

                <span class="testimonail-name" scrolls scrolls-anim="fade-left" scrolls-duration="1500">
                  Hengfei Yang
                </span>
                <span class="firm-name" scrolls scrolls-anim="fade-right" scrolls-delay="800">
                  ZincSearch
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <section class="topFooter">
        <div class="container">
          <div class="column">
            <div class="head">
              <div class="logo">
                <a rel="noreferrer noopener" href="../../">
                  <img src="../../assets/images/common/logo.svg" alt="ZincSearch Logo" />
                </a>
              </div>
            </div>
            <div class="content">
              <p>315 Montgomery St, 10th Floor,</p>
              <p class="noMargin">San Francisco,</p>
              <p class="noMargin">California, 94104,</p>
              <p class="noMargin">United States of America</p>
              <p>
                <a rel="noreferrer noopener" class="bottomBorderHover" href="tel:+14154296096">+1 (415) 429-6096</a>
              </p>
              <p class="noMargin">
                <a rel="noreferrer noopener" class="bottomBorderHover"
                  href="mailto:hello+zincsearch@zinclabs.io">hello+zincsearch@zinclabs.io</a>
              </p>
            </div>
          </div>
          <div class="column">
            <div class="head">
              <h4>Quick Links</h4>
            </div>
            <div class="content">
              <ul>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../../">Home</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../about-us/">About Us</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../use-cases/">Use Cases</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../contact-us/">Contact Us</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../careers/">Careers</a></li>
              </ul>
            </div>
          </div>
          <div class="column">
            <div class="head">
              <h4>Docs</h4>
            </div>
            <div class="content">
              <ul>
                <li><a rel="noreferrer noopener" class="bottomBorderHover"
                    href="https://docs.zincsearch.com/getting-started/">Get Started</a>
                </li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover"
                    href="https://docs.zincsearch.com/api/">Server API</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="bottomFooter noPadding">
        <div class="container">
          <div class="column">
            <ul class="socialMedia">
              <li>
                <a rel="noreferrer noopener" href="https://github.com/zinclabs/zinc" title="GitHub" target="_blank">
                  <img src="../../assets/images/common/github_icon.svg" alt="GitHub" />
                </a>
              </li>
              <li>
                <a rel="noreferrer noopener" href="https://www.linkedin.com/company/zinc-labs" title="LinkedIn"
                  target="_blank">
                  <img src="../../assets/images/common/linkedin_icon.svg" alt="LinkedIn" />
                </a>
              </li>
            </ul>
          </div>
          <div class="column">
            <p>&copy; Copyright by Zinc Labs Inc. All rights reserved.</p>
          </div>
        </div>
      </section>
    </footer>
  </div>

  <!-- scripts -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="../../assets/js/mainFunctions.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QP72SPHZNE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js',new Date());

    gtag('config','G-QP72SPHZNE');
  </script>
</body>

</html>