<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZincSearch - Use Cases</title>

  <meta name="title" content="ZincSearch - A modern search engine">
  <meta name="description"
    content="ZincSearch is the simplest and easiest search system to get up and running. It's an open source easy-to-use search engine to solves your observability needs.">
  <meta name="keywords" content="ZincSearch, ZincLabs, Zinc, Search, Search Engine, Search System">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="5 days">
  <meta name="author" content="Prabhat Sharma, Hengfei Yang">

  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="../../assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="../../assets/favicons/safari-pinned-tab.png" color="#5ca380">
  <link rel="shortcut icon" href="../../assets/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="ZincSearch">
  <meta name="application-name" content="ZincSearch">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../../assets/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="../../assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="../../assets/css/base.css" type="text/css" />
  <link rel="stylesheet" href="../../assets/css/main.css" type="text/css" />
  <link rel="stylesheet" href="../../assets/css/use-cases.css" type="text/css" />
</head>

<body>
  <div class="root">
    <header>
      <div class="container">
        <div class="logo">
          <a rel="noreferrer noopener" href="../../">
            <img src="../../assets/images/common/logo.svg" alt="ZincSearch Logo" />
          </a>
        </div>
        <nav>
          <div class="desktop">
            <div class="github_actions">
              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-size="large"
                data-show-count="true" aria-label="Star zinclabs/zinc on GitHub"></a>

              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc/fork"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-repo-forked"
                data-size="large" data-show-count="true" aria-label="Fork zinclabs/zinc on GitHub"></a>
            </div>
            <ul>
              <li><a rel="noreferrer noopener" href="../../">Home</a></li>
              <li><a rel="noreferrer noopener" href="../about-us/">About Us</a></li>
              <li class="active"><a rel="noreferrer noopener" href="./">Use Cases</a></li>
              <li><a rel="noreferrer noopener" href="../contact-us/">Contact Us</a></li>
              <li><a rel="noreferrer noopener" href="../careers/">Careers</a></li>
              <li><a rel="noreferrer noopener" href="https://docs.zincsearch.com/">Docs</a></li>
              <li class="getStarted">
                <a rel="noreferrer noopener" href="https://docs.zincsearch.com/" class="btn btn--primary btn--short">Get
                  Started</a>
              </li>
            </ul>
          </div>
          <div class="tabAndbelow">
            <template id="githubButtonsTemplate">
              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-show-count="true"
                aria-label="Star zinclabs/zinc on GitHub"></a>

              <a rel="noreferrer noopener" class="github-button" href="https://github.com/zinclabs/zinc/fork"
                data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-repo-forked"
                data-show-count="true" aria-label="Fork zinclabs/zinc on GitHub"></a>
            </template>
            <div class="tabAndbelow__actions">
              <div id="githubButtonsContainer"></div>
              <div class="hamburger-menu">
                <span class="line line__one"></span>
                <span class="line line__two"></span>
                <span class="line line__three"></span>
              </div>
            </div>
            <div class="mobile-menu">
              <div class="container">
                <ul>
                  <li><a rel="noreferrer noopener" href="../../">Home</a></li>
                  <li><a rel="noreferrer noopener" href="../about-us/">About Us</a></li>
                  <li class="active"><a rel="noreferrer noopener" href="./">Use Cases</a></li>
                  <li><a rel="noreferrer noopener" href="../contact-us/">Contact Us</a></li>
                  <li><a rel="noreferrer noopener" href="../careers/">Careers</a></li>
                  <li><a rel="noreferrer noopener" href="https://docs.zincsearch.com/">Docs</a></li>
                  <li class="getStarted">
                    <a rel="noreferrer noopener" href="https://docs.zincsearch.com/"
                      class="btn btn--primary btn--short">Get
                      Started</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main id="use-cases">
      <!-- Header -->
      <div class="header-wrapper">
        <div class="container">
          <div class="header-container">
            <h3>Use Cases</h3>
          </div>
        </div>
      </div>

      <!-- Use-cases -->
      <div class="use-cases-section mt-100 mb-100">
        <div class="container flex-direction-column">
          <div class="row w-100 align-item-center justify-content-between">
            <div class="text-contain col-6" scrolls scrolls-duration="1500">
              <h1>Log Search</h1>
              <p>Searching for logs for your applications can be tedious and challenging. ZincSearch solves the
                problem very elegantly. You can use standard log forwarders like fluentd, fluent-bit,
                vector, syslog-ng or others to forward logs to ZincSearch. ZincSearch can then store the indexed logs in
                S3 or on disk and provide fast search for your logs.</p>
              <p>Log forwarders can read the log files incrementally as new logs appear in them and can then
                forward them in batches in order to be more efficient in sending them.</p>
            </div>
            <div class="col-6" scrolls scrolls-duration="2000">
              <img src="../../assets/images/use-cases/log_search.png" alt="log-search-img" title="log-search-img"
                class="fluid-img">
            </div>
          </div>
          <hr>
          <div class="row w-100 align-item-center justify-content-between">
            <div class="text-contain col-6 right" scrolls scrolls-duration="1500">
              <h1>App Search</h1>
              <p>Almost every application requires search functionality. If you are using relational database for your
                application needs, using SQL LIKE for text searches has the potential to kill the database. ZincSearch
                is the perfect search solution in this case.</p>
            </div>
            <div class="col-6 left" scrolls scrolls-duration="2000">
              <img src="../../assets/images/use-cases/app_search.png" alt="app-search" title="app-search"
                class="fluid-img">
            </div>
          </div>
          <hr>
          <div class="row w-100 align-item-center justify-content-between">
            <div class="text-contain col-6" scrolls scrolls-duration="1500">
              <h1>Edge Search</h1>
              <p>You have low powered devices on the edge that require search functionality.
                ZincSearch is the perfect solution to provide search on these low powered devices.</p>
              <p>e.g. Your IoT/IDS/IPS/Firewall device needs search capability for so users can search for
                required data or logs.</p>
            </div>
            <div class="col-6" scrolls scrolls-duration="2000">
              <img src="../../assets/images/use-cases/edge_search.png" alt="edge-search" title="edge-search"
                class="fluid-img">
            </div>
          </div>

        </div>
      </div>

      <section class="subscribe">
        <div class="container">
          <!-- <div class="head">
            <h2>Talk to Us !!</h2>
          </div>
          <a rel="noreferrer noopener"href="../contact-us/" class="btn btn--tall btn--primary">Get In Touch</a>
        </div> -->
          <div class="head">
            <h2>Subscribe to our Newsletters</h2>
            <p>
              Get Latest Update &amp; News
            </p>
          </div>
          <form action="/" method="post" id="subscription-form">
            <input type="email" name="email" id="email" placeholder="Enter your email ID" autocomplete="off"
              onkeyup="handleInputUpdate(event)" />
            <button type="submit" class="btn btn--tall btn--primary">
              <i class="fa fa-circle-o-notch fa-spin"></i>
              <span>Submit</span>
            </button>
          </form>
      </section>
    </main>

    <footer>
      <section class="topFooter">
        <div class="container">
          <div class="column">
            <div class="head">
              <div class="logo">
                <a rel="noreferrer noopener" href="../../">
                  <img src="../../assets/images/common/logo.svg" alt="ZincSearch Logo" />
                </a>
              </div>
            </div>
            <div class="content">
              <p>315 Montgomery St, 10th Floor,</p>
              <p class="noMargin">San Francisco,</p>
              <p class="noMargin">California, 94104,</p>
              <p class="noMargin">United States of America</p>
              <p>
                <a rel="noreferrer noopener" class="bottomBorderHover" href="tel:+14154296096">+1 (415) 429-6096</a>
              </p>
              <p class="noMargin">
                <a rel="noreferrer noopener" class="bottomBorderHover"
                  href="mailto:hello+zincsearch@zinclabs.io">hello+zincsearch@zinclabs.io</a>
              </p>
            </div>
          </div>
          <div class="column">
            <div class="head">
              <h4>Quick Links</h4>
            </div>
            <div class="content">
              <ul>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../../">Home</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../about-us/">About Us</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../use-cases/">Use Cases</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../contact-us/">Contact Us</a></li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover" href="../careers/">Careers</a></li>
              </ul>
            </div>
          </div>
          <div class="column">
            <div class="head">
              <h4>Docs</h4>
            </div>
            <div class="content">
              <ul>
                <li><a rel="noreferrer noopener" class="bottomBorderHover"
                    href="https://docs.zincsearch.com/02_getting-started/">Get Started</a>
                </li>
                <li><a rel="noreferrer noopener" class="bottomBorderHover"
                    href="https://docs.zincsearch.com/API%20Reference/">Server API</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="bottomFooter noPadding">
        <div class="container">
          <div class="column">
            <ul class="socialMedia">
              <li>
                <a rel="noreferrer noopener" href="https://github.com/zinclabs/zinc" title="GitHub" target="_blank">
                  <img src="../../assets/images/common/github_icon.svg" alt="GitHub" />
                </a>
              </li>
              <li>
                <a rel="noreferrer noopener" href="https://www.linkedin.com/company/zinc-labs" title="LinkedIn"
                  target="_blank">
                  <img src="../../assets/images/common/linkedin_icon.svg" alt="LinkedIn" />
                </a>
              </li>
            </ul>
          </div>
          <div class="column">
            <p>&copy; Copyright by Zinc Labs Inc. All rights reserved.</p>
          </div>
        </div>
      </section>
    </footer>
  </div>

  <!-- script -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="../../assets/js/mainFunctions.js"></script>
  <script src="../../assets/js/subscription-script.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QP72SPHZNE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js',new Date());

    gtag('config','G-QP72SPHZNE');
  </script>
</body>

</html>